
/**
* -------------
* Global Styles
* -------------
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

body {
  /* Default font family and font color */
  width: 1440px;
  margin: 0 auto;
  height: 5896px;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
  /* Default font, size, and margins */
  font-family: 'Poppins';
  font-size: 88px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #fcce00;
  opacity: 0.81;
  margin: 8px 0px;
  height: 128px;
}

h2 {
  /* Default font, size, and margins */
  font-family: 'Poppins';
  font-size: 38px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  opacity: 0.81;
  background-color: #ff6b00;
  margin: 8px 0px;
  height: 64px;
}

h3 {
  /* Default font, size, and margins */
  height: 56px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
  margin: 64px 0px;
}

h4 {
  /* Default font, size, and margins */
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
  margin-top: 0;
  margin-bottom: 34px;
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/
.color-sub-title-one {
  height: 32px;
  opacity: 0.81;
  background-color: #e02020;
  margin: 8px 0px;
}
.color-sub-title-two{
  height: 16px;
  opacity: 0.81;
  background-color: #b620e0;
  margin: 8px 0px;
}
.color-sub-title-three {
  height: 8px;
  opacity: 0.81;
  background-color: #6236ff;
  margin: 8px 0px;
}
.box {
  display: flex;
}

.box div.col:first-child {
  margin: 0px 32px 30px 48px;
}
.box div.col:first-child P {
  width: 640px;
  height: 345px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #231f20;
  margin-bottom:30px
}
.Bitmap {
  width: 487px;
  height: 471px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.Mask {
  width: 720px;
  height: 512px;
  background: #fff;
  background: linear-gradient(to bottom,
rgba(252,206,0, 0.81) 0% 50%,
rgba(252,206,0, 0.61) 50% 75%,
rgba(252,206,0, 0.41) 75% 87.5%,
rgba(252,206,0, 0.21) 87.5% 93.75%,
rgba(252,206,0, 0.05) 93.75% 96.875%,
rgba(252,206,0, 0.01) 96.875% 100%
);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
button.learn-more {
  width: 185px;
  height: 48px;
  border-radius: 15px;
  border: solid 4px #fcce00;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fcce00;
  background: #fff;
  float: right;
}


/**
* ----------
* Components
* ----------
*/